<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Vue-->
<!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@1.2.2/dist/vuetify.min.css" rel="stylesheet" />  -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.2.2/dist/vuetify.min.js"></script>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" defer></script>
<script src="app.js" defer></script>
<link rel="stylesheet" href="style.css"> 


</head>
<body>
    <div id="app">
        <div id="nologin" v-if="!loggedin">
            <h1> This is the login area</h1>
            <div id="loginform">
                <!--Login-->
                <fieldset> <legend>LOGIN</legend>
                    <input type="text" placeholder="username" v-model="loginUN">
                    <input type="password" placeholder="password" v-model="loginPW">
                    <button v-on:click="handleLogin">login</button>
                </fieldset>

                <!--Create User-->
                <fieldset> <legend>Create User</legend>
                    <input type="text" placeholder="username" v-model="createUN">
                    <input type="password" placeholder="password" v-model="createPW">
                    <input type="text" placeholder="email">
                    <button v-on:click="handleSignup">Create User</button>
                </fieldset>
            
            </div>
        </div>
        <div id="login"  v-if="loggedin">
        <h1> This is the user area</h1>
            <div class="dashboard">
        <button v-on:click="handleLogout">Logout</button>

        <h1>Choose a quiz</h1>
        <!-- <button> Choose </button> -->
        <button v-on:click="getQuizzes">Get</button> <button v-on:click="postQuiz"> Post</button>

        <div><button> Partial Update(PATCH)</button></div>

        <div class="QuizOne">
            <h1>{{quiz}} </h1>
            <button v-on:click="deleteQuiz">Delete</button> <button v-on:click="updateQuiz">Update</button>
        </div>

            </div>
        </div>
       

    </div>
</body>
</html>