<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.2.2/dist/vuetify.min.js"></script>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" defer></script>
<script src="app.js" defer></script>
<link rel="stylesheet" href="style.css"> 


</head>
<body>
    <div id="app">
        <div id="nologin" v-if="!loggedin">
            <!-- <h1> </h1> -->
            <div id="loginform">
                <!--Login-->
                <div class="loginFieldset">
                <fieldset class="fieldset1"> <legend>LOGIN</legend>
                <div class="insideFieldset1">
                    <input class="loginUN" type="text" placeholder="username" v-model="loginUN">
                    <input class="loginPW" type="password" placeholder="password" v-model="loginPW">
                    <button class="button6" style="background-color:#668fff" v-on:click="handleLogin">login</button>
                </div>
                </fieldset>
                </div>

                <!--Create User-->
                <div class="createUserFieldset">
                <fieldset class="fieldset2"> <legend>Create User</legend>

                    <div class="insideFieldset2">
                    <input class="createUN" type="text" placeholder="username" v-model="createUN">
                    <input class="createPW" type="password" placeholder="password" v-model="createPW">
                    <input class="createEmail" type="text" placeholder="email">

                    <button v-on:click="handleSignup" class="button6" style="background-color:#668fff">Create User</button>
                     </div>

                    
                </fieldset>
                </div>
            
            </div>
        </div>
        <div id="login"  v-if="loggedin && !modifyQuestions && !onTakeQuiz" >
        <!-- <h1> This is the user area</h1> -->

        <div class="dashboard" >

                <nav>
                <div class="logoutDiv">
                <!-- <div class="burger" class="logoutButton">☰</div> -->
        
       <div class="link"> <button class="takeQuizButton" v-on:click="onModifyQuestions">Edit Questions</button></div>

       <div class="link"> <button class="takeQuizButton" v-on:click="takeQuizPage"> Take Quiz</button> </div>

       <div class="link"> <button class="logoutButton" v-on:click="handleLogout">Logout</button> </div> 
        
                </div>
                </nav>

                <div class="contentDiv">
                
                    <h1 id="newQuizHeader"> New Quiz</h1>

                    <div class="newQuiz">
                <input class="quizNameInput" placeholder="Quiz Name ? ........." type="text" v-model="newQuiz">

                <input class="quizDirectionsInput" placeholder="Directions For Quiz? ............" type="text" v-model="quizDirection">
                    </div>

                    <div id="createQuizButtonDiv">
                <button class="createQuizButton" v-on:click.prevent="createQuiz"> Create Quiz</button>
                    </div>

                <!-- UPDATE-->
                    <div class="updateQuizParentDiv">
                <h1> Update or Delete Quiz </h1>

                        <div class="updateQuizChildDiv" v-for="quiz of quizzes.results">
                <input class="updateQuizNameInput" placeholder="Update Quiz Name" type="text" v-model="updateQuizName">
                <input class="updateQuizDirectionsInput" placeholder="Update Quiz Direction" type="text" v-model="updateQuizDirections">
                <button class="updateQuizButton" v-bind:id="quiz.id" v-on:click.prevent="editQuiz" > Update Quiz</button>
                <div class="quizzesDiv">
                <h2>ID: {{quiz.id}}</h2>
                <h2>NAME : {{quiz.name}}</h2>
                <h2>DIRECTIONS : {{quiz.directions}}</h2>
                    </div>
                <h6>OR</h6>
                <button v-bind:id="quiz.id" class="deleteQuizButton" v-on:click="deleteQuiz"> Delete Quiz</button>
               
            
                        </div> 
                    </div>
                    </div>

                    
                

        </div>
        

            </div>
            <!-- EDIT QUESTIONS PAGE-->
            <div v-if="modifyQuestions && !onDashboard && !onTakeQuiz">
                <div class="logoutDiv">
                <button class="takeQuizButton" v-on:click="backToDashboard"> Edit Quiz </button>
                <button class="takeQuizButton" v-on:click="takeQuizPage"> Take Quiz</button>
                <button class="logoutButton" v-on:click="handleLogout">Logout</button>
                </div>
                <h1>Create Questions</h1>
                <div class="newQuiz">
                    <!--Gotta input ID for Quiz Input-->
                    <input class="quizNameInput" placeholder="Enter Quiz ID" type="number" v-model="QuizID">
                    <input class="quizNameInput" placeholder="Enter Question Order" type="number" v-model="questionOrder">
                    <input class="quizNameInput" placeholder="Question" type="text" v-model="quizQuestion">
    
                    <input class="quizDirectionsInput" placeholder="Choice One" type="text" v-model="quizChoiceOne">
                    <input class="quizDirectionsInput" placeholder="Choice Two" type="text" v-model="quizChoiceTwo">
                    <input class="quizDirectionsInput" placeholder="Choice Three" type="text" v-model="quizChoiceThree">
                    <input class="quizDirectionsInput" placeholder="Choice Four" type="text" v-model="quizChoiceFour">

                    <button class="createQuizButton" v-on:click.prevent="createQuestion"> Create Question</button>

                </div>

                
                
                <!-- <div v-for="quiz of quizzes.results"> -->
                    <div class="questionsDiv" v-for="question of questions.results">
                        <h2>QUIZ ID: {{question.quiz}}</h2>
                        <h3>Question: {{question.question}}</h3>
                        <h4>1. {{question.choice_one}}</h4>
                        <h4>2. {{question.choice_two}}</h4>
                        <h4>3. {{question.choice_three}}</h4>
                        <h4>4. {{question.choice_four}}</h4>
                        <button v-bind:id="question.id" class="deleteQuizButton" v-on:click="deleteQuestion"> Delete Question</button>
                            <h4> OR </h4>

                            <div class="updateQuizChildDiv">
                                <button class="updateQuizButton" v-bind:id="question.id" v-on:click.prevent="editQuestion"> Update Quiz</button>

                                <input class="updateQuizDirectionsInput" placeholder="Update Quiz ID" type="number" v-model="updatedQuizID">
                                <input class="updateQuizDirectionsInput" placeholder="Update Quiz Order" type="number" v-model="updatedQuestionOrder">
                                <input class="updateQuizNameInput" placeholder="Update Question" type="text" v-model="updatedQuizQuestion">
                                <input class="updateQuizDirectionsInput" placeholder="Update Quiz Choice One" type="text" v-model="updatedQuizChoiceOne">
                                <input class="updateQuizDirectionsInput" placeholder="Update Quiz Choice Two" type="text" v-model="updatedQuizChoiceTwo">
                                <input class="updateQuizDirectionsInput" placeholder="Update Quiz Choice Three" type="text" v-model="updatedQuizChoiceThree">
                                <input class="updateQuizDirectionsInput" placeholder="Update Quiz Choice Four" type="text" v-model="updatedQuizChoiceFour">
                            
                            </div> 
                        </div>
                <!-- </div> -->
            </div>
            <!-- END OF EDIT QUESTIONS PAGE -->

            <!--   START OF TAKE QUIZ PAGE -->

            <div v-if="onTakeQuiz && !modifyQuestions && !onDashboard">
                <div class="logoutDiv">

                    <button class="takeQuizButton" v-on:click="backToDashboard"> Edit Quiz </button>
                    <button class="takeQuizButton" v-on:click="onModifyQuestions">Edit Questions</button>
                    <button class="logoutButton" v-on:click="handleLogout">Logout</button>

                </div>

                <div class="actualQuiz" v-for="question of questions.results">
                    <div class="question"><h2>{{question.order}}.{{question.question}}</h2></div>
                    <div class="choice_one" v-on:click="selector"><h4>a.){{question.choice_one}}</h4></div>
                    <div class=:choice_two><h4>b.){{question.choice_two}}</h4></div>
                    <div class="choice_three"><h4>c.){{question.choice_three}}</h4></div>
                    <div class="choice_four"><h4>d.){{question.choice_four}}</h4></div>
                </div>
        </div>
       <!-- END OF TAKE QUIZ PAGE -->

</body>
</html>