<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Vue-->
<!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@1.2.2/dist/vuetify.min.css" rel="stylesheet" />  -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.2.2/dist/vuetify.min.js"></script>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" defer></script>
<script src="app.js" defer></script>
<link rel="stylesheet" href="style.css"> 


</head>
<body>
    <div id="app">
        <div id="nologin" v-if="!loggedin">
            <!-- <h1> </h1> -->
            <div id="loginform">
                <!--Login-->
                <div class="loginFieldset">
                <fieldset class="fieldset1"> <legend>LOGIN</legend>
                <div class="insideFieldset1">
                    <input class="loginUN" type="text" placeholder="username" v-model="loginUN">
                    <input class="loginPW" type="password" placeholder="password" v-model="loginPW">
                    <button class="loginButton" v-on:click="handleLogin">login</button>
                </div>
                </fieldset>
                </div>

                <!--Create User-->
                <div class="createUserFieldset">
                <fieldset class="fieldset2"> <legend>Create User</legend>

                    <div class="insideFieldset2">
                    <input class="createUN" type="text" placeholder="username" v-model="createUN">
                    <input class="createPW" type="password" placeholder="password" v-model="createPW">
                    <input class="createEmail" type="text" placeholder="email">

                    <button v-on:click="handleSignup">Create User</button>
                     </div>

                    
                </fieldset>
                </div>
            
            </div>
        </div>
        <div id="login"  v-if="loggedin && !modifyQuestions" >
        <!-- <h1> This is the user area</h1> -->
            <div class="dashboard" >
                <div class="logoutDiv">
        
        <button class="modifyQuestionsButton" v-on:click="onModifyQuestions">Edit Questions</button>

        <button class="takeQuizButton"> Take Quiz</button>

        <button class="logoutButton" v-on:click="handleLogout">Logout</button>
        
                </div>
                <div class="contentDiv">
                
                    <h1 id="newQuizHeader"> New Quiz</h1>

                    <div class="newQuiz">
                <input class="quizNameInput" placeholder="Quiz Name ? ........." type="text" v-model="newQuiz">

                <input class="quizDirectionsInput" placeholder="Directions For Quiz? ............" type="text" v-model="quizDirection">
                    </div>

                    <div id="createQuizButtonDiv">
                <button class="createQuizButton" v-on:click.prevent="createQuiz"> Create Quiz</button>
                    </div>

                <!-- UPDATE-->
                    <div class="updateQuizParentDiv">
                <h1> Update or Delete Quiz </h1>

                        <div class="updateQuizChildDiv" v-for="quiz of quizzes.results">
                <input class="updateQuizNameInput" placeholder="Update Quiz Name" type="text" v-model="updateQuizName">
                <input class="updateQuizDirectionsInput" placeholder="Update Quiz Direction" type="text" v-model="updateQuizDirections">
                <button class="updateQuizButton" v-bind:id="quiz.id" v-on:click.prevent="editQuiz" > Update Quiz</button>

                <div class="quizzesDiv">
                <h2>NAME : {{quiz.name}}</h2>
                <h2>DIRECTIONS : {{quiz.directions}}</h2>
                    </div>
                <!-- <button v-bind:id="editID" v-on:click="editSelectQuiz">Update Select Quiz</button> -->
                <h6>OR</h6>
                <button v-bind:id="quiz.id" class="deleteQuizButton" v-on:click="deleteQuiz"> Delete Quiz</button>
               
            
                        </div> 
                    </div>
                    </div>

                    
                <!--DONE-->
        <!-- <div class="quizzes" v-for="(quiz,index) of quizzes.results" >
            <h1>{{quiz.name}}</h1>
            <h3>{{quiz.directions}}</h3>

            <button v-bind:id="index" v-on:click="chooseQuiz"> Take Quiz</button> -->

            <!-- <h5>{{}}</h5>
            
            <div v-bind:id="quiz.id" v-for="question of questions.results[index]" v-if="questions.length > 0">


                
                <h5> {{question.question}}</h5>
            </div> -->
            <!--QUESTIONS DIV-->
           <!-- <button v-bind:id="quiz.id" v-on:click="deleteQuiz" >Delete Quiz</button> <button>Update Quiz</button>
                </div>

                <div> 
                    <div v-for="q of currentQuiz">  -->

                        <!-- <h5> {{q.question}}</h5> -->

                    <!-- </div>
                </div> -->


        </div>
        <!-- <button v-on:click="getQuizzes">Get</button> -->
        <!-- 
            <h1>Choose a quiz</h1>
        <button> Choose </button> 
        <button v-on:click="getQuizzes">Get</button> <button v-on:click="postQuiz"> Post</button>

        <div><button> Partial Update(PATCH)</button></div>

        <div class="QuizOne">
            <h1> </h1>
            <button v-on:click="deleteQuiz">Delete</button> <button v-on:click="updateQuiz">Update</button>
        </div> 
        -->
        

            </div>

            <div v-if="modifyQuestions && !onDashboard">
                <div class="logoutDiv">
                <button class="modifyQuestionsButton" v-on:click="backToDashboard"> Edit Quiz </button>
                <button class="takeQuizButton"> Take Quiz</button>
                <button class="logoutButton" v-on:click="handleLogout">Logout</button>
                </div>
                <h1>modify Questions area</h1>
                <h2> User Area</h2>

                <!-- <div v-for="quiz of quizzes.results"> -->
                    <div v-for="question of questions.results">
                        <h2>{{question.quiz}}</h2>
                        <h3>{{question.question}}</h3>
                        <h4>{{question.choice_one}}</h4>
                        <h4>{{question.choice_two}}</h4>
                        <h4>{{question.choice_three}}</h4>
                        <h4>{{question.choice_four}}</h4>
                    </div> 
                    
                <!-- </div> -->
            </div>

        </div>
       

</body>
</html>