html{
    background-color: azure ;
}

body{
    text-align: center;
}
.logoutDiv {
    display: flex; 
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: flex-end;

}

/* LOGOUT DIV */
.logoutButton, .takeQuizButton {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.logoutButton:hover, .takeQuizButton:hover {
    background: #eee;
    transform: scale(1.1);
}


/*  END OF LOGOUT DIV*/
.fieldset1 {
    border: solid black 5px;
    height: 150px;
    width: 300px;
    margin-bottom: 100px;
    text-align: center;
    margin-top: 50px;
}
.loginFieldset{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.insideFieldset1{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.loginUN{
    text-align: center;
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
}

.loginPW{
    text-align: center;
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
}


.fieldset2 {
    border: solid black 5px;
    height: 200px;
    width: 300px;
    text-align: center;
}

.createUserFieldset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insideFieldset2{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.createUN{
    text-align: center;
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
}

.createPW{
    text-align: center;
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
}

.createEmail{
    text-align: center;
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
}


/*  DashBoard */

#newQuizHeader {
    text-align: center;
}

.quizNameInput {
    height: 100px;
    width: 250px;
    text-align: center;
    margin-bottom: 50px;
}

.quizDirectionsInput {
    text-align: center;
    height: 100px;
    width: 400px;
}

.moveQuizButton{
    display: flex;
    align-items: center;
}

.createQuizButton {
    text-align: center;
    margin-top: 50px;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.createQuizButton:hover {
    background: #eee;
    transform: scale(1.1);
}

.newQuiz {
    display: flex; 
   align-items: center;
   flex-direction: column;
}


.updateQuizChildDiv{
    display: flex; 
    align-items: center;
    flex-direction: column;
    border: 5px solid rgb(59, 148, 155);
}

.updateQuizNameInput{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    height: 50px;
    width: 200px;
}

.updateQuizDirectionsInput{
    text-align: center;
    height: 100px;
    width: 250px;
}

.updateQuizButton, .deleteQuizButton, .modifyQuestionsButton {
    text-align: center;
    margin-top: 20px;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.updateQuizButton:hover, .deleteQuizButton:hover, .modifyQuestionsButton{
    background: #eee;
    transform: scale(1.1);
}

.quizzesDiv{
    width: 400px;
    border: solid black 1px;
    padding: 50px;
    margin: 20px;
    background-color: white;
}

.questionsDiv{
    border: solid black 1px;
    background-color: white;
}
/* End of Dashboard */